.head{
    background: #52a7fc;
    display: flex;
    padding: 10px 20px;
    color: #fff;
    justify-content: space-between;
}
.date{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
.date td{
    border: 1px solid #eee;
}